@model JobHunterApp.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            To:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            From:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MessageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
 
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MessageID }) |*@
    @Html.ActionLink("Inbox", "Index")
</p>
