@model IEnumerable<JobHunterApp.Models.Listing>

@{
    ViewBag.Title = "Job Listings";
}

<h2>Job Listings</h2>

<!-------
    Remember Business Account Login Info:
    email: business@email.com
    password:1Password!
    
    -->
@if (User.IsInRole("Business"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<body style= 'background: #00ff21'>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
           @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            GoogleMap
            <!---Html.DisplayNameFor(model => model.JobType.TypeID)-->
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)

            <!---capturing latitude-->
            @{ 
                string LatString = item.Location.ToString();
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
            <!---capturing longitude-->
            @{ 
                string LngString = item.Description.ToString();
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            <button onclick="myFunction()">Find It!</button>
            <script>
                function myFunction() {

                    /*Original Plan was session storage
                    sessionStorage.setItem('latitude', Html.DisplayFor(modelItem => LatString));
                    sessionStorage.setItem('longitude', Html.DisplayFor(modelItem => LngString));*/
                    //Allows for opening of google map
                    window.open("/GoogleMapWindow.aspx");

                }
            </script>

        </td>

        <td>
            @if (User.IsInRole("Business"))
            {
               @Html.ActionLink("Edit", "Edit", new { id = item.ListingID }) 
            }

            |

            @Html.ActionLink("Details", "Details", new { id = item.ListingID }) 

            |

            @Html.ActionLink("Questions", "Index", "Questions")
           
            @if (User.IsInRole("Admin"))
            {
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ListingID })
            </td>
            }
        
           

    </tr>
}

</table>

</body>
