@model IEnumerable<JobHunterApp.Models.Question>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Listing.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Listing.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionsID })
        </td>
    </tr>
}

</table>
